h1 {
    width: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    color: turquoise;
}
body {
    background-color: crimson;

}
header {
    background-color: purple;
    height: 600px;
    width: 100%;
}